body {
  padding: 20px 20px 20px 20px;
}

#scanned {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #bbb;
  padding: 20px;
}
#ordered {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #ccc;
  padding: 20px;
}

h1 {
  display: block;
  width: 100%;
  font-size: 30px;
  font-size: 70px;
  font-weight: 600;
  color: #fdfdfe;
  text-shadow: 0px 0px 5px #333, 0px 0px 10px #333, 0px 0px 10px #333,
    0px 0px 20px #333;
}

.card {
  width: 300px;
  background-color: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
}

.content {
  border-radius: 5px;
}

h2.title {
  font-size: 24px;
  white-space: nowrap;
  overflow: hidden;
}

h3.subtitle {
  font-size: 18px;
  margin-top: 0;
  color: gray;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
}

.card-details {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.card-text {
  font-size: 14px;
  color: gray;
  margin-top: 10px;
}

p.index {
  font-size: 12px;
  color: #333;
  bottom: 10px;
  right: 10px;
  text-align: right;
  font-weight: bold;
}

.red-background {
  background-color: #ffb3b3; /* light red */
}

.yellow-background {
  background-color: #ffffb3; /* light yellow */
}

.green-background {
  background-color: #b3ffb3; /* light green */
}

.content {
  background-color: #fff;
  padding: 10px;
}

#card-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
#scanned-cards {
  float: left;
  width: 50%;
}
#ordered-cards {
  clear: both;
  float: left;
  width: 50%;
}
