body {
  padding: 20px 20px 20px 20px;
  font-family: Arial, Helvetica, sans-serif;
}

#scanned {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: rgb(238, 238, 238);
  background: linear-gradient(
    0deg,
    rgb(255, 255, 255) 20%,
    rgba(153, 153, 153, 1) 80%
  );
  padding: 20px;
  border-radius: 20px;
}
#ordered {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: rgb(238, 238, 238);
  background: linear-gradient(
    0deg,
    rgb(255, 255, 255) 20%,
    rgba(153, 153, 153, 1) 80%
  );
  padding: 20px;
  border-radius: 20px;
}

h1 {
  display: block;
  width: 100%;
  font-size: 30px;
  font-size: 70px;
  font-weight: 600;
  color: #fdfdfe;
  text-shadow: 0px 0px 5px #333, 0px 0px 10px #333, 0px 0px 10px #333,
    0px 0px 20px #333;
}

.card {
  width: 300px;
  background-color: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  border: #333;
  cursor: pointer;
}

.content {
  border-radius: 5px;
  position: relative;
}

h2.title {
  font-size: 24px;
  white-space: nowrap;
  overflow: hidden;
  font-weight: bold;
}

h3.subtitle {
  font-size: 18px;
  margin-top: 5px;
  font-weight: bold;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
}

.card-details {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.card-text {
  font-size: 14px;
  color: gray;
  margin-top: 10px;
}

p.info {
  clear: left;
  float: left;
  display: table-cell;
  vertical-align: bottom;
}

p.index {
  font-size: 12px;
  color: #777;
  float: right;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.red-background {
  background-color: #ffb3b3;
  border: 1px solid #f00;
}

.yellow-background {
  background-color: #ffffb3;
  border: 1px solid #ff0;
}

.green-background {
  background-color: #b3ffb3;
  border: 1px solid #0f0;
}

.content {
  background-color: #fff;
  padding: 10px;
  border: 1px solid #333;
}

#card-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
#scanned-cards {
  float: left;
  width: 50%;
}
#ordered-cards {
  float: left;
  width: 50%;
}

#overlay {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px; /* Adjust this to change the height of the strip */
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  color: white;
  font-size: 1em; /* Adjust this to change the font size */
}
